<ion-view style="" class=" " id="page4" title="Cart">


<!--<ion-nav-buttons side="right">
      <button class="button button-clear button-positive white_txt" style="color:#fff;">History</button>
</ion-nav-buttons>-->


<ion-content padding="true" style="background:#eeeef3; padding-top:0;" class="manual-ios-statusbar-padding has-footer">
        
        <div class="list">

    <div class="item cart_item item-thumbnail-left item-icon-right" href="#">
      <div class="img_cart">
      <img src="img/pic-1.jpg">
      </div>
      <h2>Pretty Hate Machine</h2>
      <p>Lorem Ipsum</p>
      <p>Quantity</p>
      <div class="priceqty">
      <span class="price_cart">$15</span><i class="eq">x</i><span class="addcart">5</span>
        <div class="button-bar button-assertive add_itm">
          <a class="button button-small button-assertive minusicon ion-ios-minus-empty"></a>
          <a class="button button-small button-assertive ion-ios-plus-empty"></a>
        </div>
      </div>
      <button class="button icon-left button-clear ion-ios-close button-small remove_icon"></button>
    </div>
    
    <div class="item cart_item item-thumbnail-left item-icon-right" href="#">
      <div class="img_cart">
      <img src="img/pic-2.jpg">
      </div>
      <h2>Pretty Hate Machine</h2>
      <p>Lorem Ipsum</p>
      <p>Quantity</p>
      <div class="priceqty">
      <span class="price_cart">$15</span><i class="eq">x</i><span class="addcart">5</span>
        <div class="button-bar button-assertive add_itm">
          <a class="button button-small button-assertive minusicon ion-ios-minus-empty"></a>
          <a class="button button-small button-assertive ion-ios-plus-empty"></a>
        </div>
      </div>
      <button class="button icon-left button-clear ion-ios-close button-small remove_icon"></button>
    </div>
    
    
    <div class="item cart_item item-thumbnail-left item-icon-right" href="#">
      <div class="img_cart">
      <img src="img/pic-3.jpg">
      </div>
      <h2>Pretty Hate Machine</h2>
      <p>Lorem Ipsum</p>
      <p>Quantity</p>
      <div class="priceqty">
      <span class="price_cart">$15</span><i class="eq">x</i><span class="addcart">5</span>
        <div class="button-bar button-assertive add_itm">
          <a class="button button-small button-assertive minusicon ion-ios-minus-empty"></a>
          <a class="button button-small button-assertive ion-ios-plus-empty"></a>
        </div>
      </div>
      <button class="button icon-left button-clear ion-ios-close button-small remove_icon"></button>
    </div>
    
    
    
    <div class="item card" href="#" style="padding: 10px; margin: 10px 0px; border: medium none; background:#fff; border-radius: 0px;">
      <h2 style="color:#000;">Minimum order : $ 300.00</h2>
    </div>

</div>
        
        
    </ion-content>
    
    
    <div class="bar bar-footer" style="background:#ef473a;">
    <div class="button-bar button-clear  bar-positive">
  <a class="button  button-clear" ui-sref="menu.reservation" style="border-right:1px solid #aa0200;">Next</a>
  <a class="button  button-clear"><b>$ 1500.00</b></a>
</div>
</div>
</ion-view>