<ion-view id="page4" title="Cart" hide-nav-bar="true">

<ion-header-bar align-title="center" id="div1" class="bar-light map_header">
  <div class="buttons">
    <button ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item" style=""><i class="icon ion-android-arrow-back"></i></button>
  </div>
  <h1 class="title">Your Details</h1>
  
</ion-header-bar>


<ion-content padding="false" style="background: url(img/signup.jpg) no-repeat center;background-size:cover; top:0; padding-top:44px;" class="manual-ios-statusbar-padding">
        
        
        <div class="padding">
        <h4 style="color:#fff; text-align:center;">Your Details</h4>
        <div class="list list-inset billing_add">
  <label class="item item-input">
    <input style="color:#fff;" type="text" placeholder="First Name">
  </label>
  <label class="item item-input">
    <input style="color:#fff;"  type="text" placeholder="Last Name">
  </label>
  <label class="item item-input">
    <input style="color:#fff;"  type="text" placeholder="Email Address">
  </label>
  <label class="item item-input">
    <input style="color:#fff;"  type="text" placeholder="Phone Number">
  </label>

</div>
        </div>
        
        
    </ion-content>
    
    <div class="bar bar-footer" style="background:#ef473a ;">
    <div class="button-bar button-clear  bar-positive">
  <a class="button  button-clear" ui-sref="menu.payment">Payment</a>
</div>
</div>
</ion-view>
