<ion-view style="" class=" " id="page4" title="Confirmation" hide-nav-bar="true">

<ion-header-bar align-title="center" id="div1" class="bar-light map_header">
  <div class="buttons">
    <button ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item" style=""><i class="icon ion-android-arrow-back"></i></button>
  </div>
  <h1 class="title">Confirmation</h1>
  
</ion-header-bar>


<ion-content padding="true" style="background: url(img/thankyou.jpg) no-repeat center;background-size:cover; top:0;" class="manual-ios-statusbar-padding">
       
       <div class="payment_outer"><img width="30%" src="img/logo.png" /></div>
       
       <center>
       <h1 style="color:#d92027;">Thank You !</h1>
       <h4 style="color:#fff;">Your Payment is Complete</h4>
       <div style="width: 100%; height: 5vh;" class="spacer"></div>
       <i style="color:#d92027;" class="ion-checkmark-circled check_tick"></i>
       <div style="width: 100%; height: 5vh;" class="spacer"></div>
<p style="color:#fff;">We’ve sent you an email with all the details
of your order & remember you can track your order using this app!</p>

<p>Order Number</p>
<h2 style="color:#fff;">0123456789</h2>
</center>
      
    </ion-content>
    
    
</ion-view>