<ion-view style="" id="page7" title="Restaurant Details" hide-nav-bar="true">
<ion-header-bar align-title="center" class="bar-positive" style="background:url(img/header.jpg) no-repeat; background-size:cover;">
  <div class="buttons">
    <button class="button button-clear icon ion-navicon" menu-toggle="left" style="color:#fff; display:block;"></button>
  </div>
  <h1 class="title">Eauzone Dubai</h1>
  <div class="buttons">
    <button style="color:#fff;" class="button button-clear icon ion-ios-search"></button>
  </div>
</ion-header-bar>
    <ion-content class="has-header" padding="false" on-scroll="scrollEvent()" delegate-handle="scrollHandle">
    
    	
        <div class="discover">
        	<div class="discover_box">
            	<a ui-sref="menu.nearestRestaurants">
                <div class="dis_txt">
                	<h4>Healthy</h4>
                    <h6>12 options</h6>
                </div>
                </a>
            </div>
            <div class="discover_box2">
            	<a ui-sref="menu.nearestRestaurants">
                	<img src="img/r1.jpg" />
                </a>
            </div>
            
            <div class="discover_box2">
            	<a ui-sref="menu.nearestRestaurants">
                	<img src="img/r1.jpg" />
                </a>
            </div>
            <div class="discover_box">
            	<a ui-sref="menu.nearestRestaurants">
                <div class="dis_txt">
                	<h4>Healthy</h4>
                    <h6>12 options</h6>
                </div>
                </a>
            </div>
            
            
            
            <div class="discover_box">
            	<a ui-sref="menu.nearestRestaurants">
                <div class="dis_txt">
                	<h4>Healthy</h4>
                    <h6>12 options</h6>
                </div>
                </a>
            </div>
            <div class="discover_box2">
            	<a ui-sref="menu.nearestRestaurants">
                	<img src="img/r1.jpg" />
                </a>
            </div>
            
            <div class="discover_box2">
            	<a ui-sref="menu.nearestRestaurants">
                	<img src="img/r1.jpg" />
                </a>
            </div>
            <div class="discover_box">
            	<a ui-sref="menu.nearestRestaurants">
                <div class="dis_txt">
                	<h4>Healthy</h4>
                    <h6>12 options</h6>
                </div>
                </a>
            </div>
            
            
            <div class="discover_box">
            	<a ui-sref="menu.nearestRestaurants">
                <div class="dis_txt">
                	<h4>Healthy</h4>
                    <h6>12 options</h6>
                </div>
                </a>
            </div>
            <div class="discover_box2">
            	<a ui-sref="menu.nearestRestaurants">
                	<img src="img/r1.jpg" />
                </a>
            </div>
            
        </div>
        
        
    </ion-content>
    
</ion-view>