<ion-view style="" id="page7" title="Restaurant Details" hide-nav-bar="true">
<ion-header-bar align-title="center" id="div1" class="bar-light map_header">
  <div class="buttons">
    <button ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item" style=""><i class="icon ion-android-arrow-back"></i></button>
  </div>
  <h1 class="title">Gallery</h1>
  <div class="buttons">
    <button style="color:#662483;" class="button button-clear icon"><img src="img/icon_size.svg" /></button>
  </div>
</ion-header-bar>
    <ion-content class="has-header" padding="false" style="top:0;" on-scroll="scrollEvent()" delegate-handle="scrollHandle">
    
    	<div class="gallery">
        	<div class="gallery_box">
            	<a ui-sref="menu.galleryFull">
                	<img src="img/r1.jpg" />
                </a>
            </div>
            <div class="gallery_box">
            	<a ui-sref="menu.galleryFull">
                	<img src="img/r2.jpg" />
                </a>
            </div>
            <div class="gallery_box">
            	<a ui-sref="menu.galleryFull">
                	<img src="img/r3.jpg" />
                </a>
            </div>
            <div class="gallery_box">
            	<a ui-sref="menu.galleryFull">
                	<img src="img/r4.jpg" />
                </a>
            </div>
            <div class="gallery_box">
            	<a ui-sref="menu.galleryFull">
                	<img src="img/r1.jpg" />
                </a>
            </div>
            <div class="gallery_box">
            	<a ui-sref="menu.galleryFull">
                	<img src="img/r2.jpg" />
                </a>
            </div>
            <div class="gallery_box">
            	<a ui-sref="menu.galleryFull">
                	<img src="img/r3.jpg" />
                </a>
            </div>
            <div class="gallery_box">
            	<a ui-sref="menu.galleryFull">
                	<img src="img/r4.jpg" />
                </a>
            </div>
            
            <div class="gallery_box">
            	<a ui-sref="menu.galleryFull">
                	<img src="img/r1.jpg" />
                </a>
            </div>
            <div class="gallery_box">
            	<a ui-sref="menu.galleryFull">
                	<img src="img/r2.jpg" />
                </a>
            </div>
            <div class="gallery_box">
            	<a ui-sref="menu.galleryFull">
                	<img src="img/r3.jpg" />
                </a>
            </div>
            <div class="gallery_box">
            	<a ui-sref="menu.galleryFull">
                	<img src="img/r4.jpg" />
                </a>
            </div>
            <div class="gallery_box">
            	<a ui-sref="menu.galleryFull">
                	<img src="img/r4.jpg" />
                </a>
            </div>
            
        </div>
        
        
    </ion-content>

</ion-view>