<ion-view style="" id="page7" title="Restaurant Details" hide-nav-bar="true">
<ion-header-bar align-title="center" id="div1" class="bar-light map_header">
  <div class="buttons">
    <button ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item" style=""><i class="icon ion-android-arrow-back"></i></button>
  </div>
  <h1 class="title">Gallery</h1>
  <div class="buttons">
    <button style="color:#662483;" class="button button-clear icon"><img src="img/gallery.svg" /></button>
  </div>
</ion-header-bar>
    <ion-content class="has-header" padding="false" style="top:0;" on-scroll="scrollEvent()" delegate-handle="scrollHandle">
    
    	<div class="gallery_full">
            <a href="#">
                <img style="min-height: 700px;" src="img/signin-2.jpg" />
            </a>
        </div>
        
        
    </ion-content>

</ion-view>