<ion-view style="" id="page5" title="Nearest Restaurants"  hide-nav-bar="true">

<ion-header-bar align-title="center" id="div1" class="bar-light map_header">
  <div class="buttons">
    <button ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item" style=""><i class="icon ion-android-arrow-back"></i></button>
  </div>
  <h1 class="title">History</h1>
  <div class="buttons">
  	<!--<button style="" class="button button-clear icon ion-share"></button>
    <button style="color:#662483;" class="button button-clear icon ion-ios-heart"></button>-->
  </div>
</ion-header-bar>
    <ion-content class="has-header" padding="false" style="top:0;" on-scroll="scrollEvent()" delegate-handle="scrollHandle">
        <div class="restaurant_list">
            <a ui-sref="menu.restaurantDetails" style="display:block;">
                <img style="display: block; margin-left: auto; margin-right: auto;" src="img/r1.jpg" height="auto" width="100%">
                
                <div class="restaurant_con">
                	<div class="heading_txt">You saved <b>401 AED</b></div>
                    <h6>In restaurant Eauzone</h6>
                    <span style="font-size:11px;">21.07.2016</span>
                </div>
            </a>
        </div>
        
        <div class="restaurant_list">
            <a ui-sref="menu.restaurantDetails" style="display:block;">
                <img style="display: block; margin-left: auto; margin-right: auto;" src="img/r2.jpg" height="auto" width="100%">
                <div class="restaurant_con">
                	<div class="heading_txt">You saved <b>401 AED</b></div>
                    <h6>In restaurant Eauzone</h6>
                    <span style="font-size:11px;">21.07.2016</span>
                </div>
            </a>
        </div>
        
        <div class="restaurant_list">
            <a ui-sref="menu.restaurantDetails" style="display:block;">
                <img style="display: block; margin-left: auto; margin-right: auto;" src="img/r3.jpg" height="auto" width="100%">
                <div class="restaurant_con">
                	<div class="heading_txt">You saved <b>401 AED</b></div>
                    <h6>In restaurant Eauzone</h6>
                    <span style="font-size:11px;">21.07.2016</span>
                </div>
            </a>
        </div>
        
        
        <div class="restaurant_list">
            <a ui-sref="menu.restaurantDetails" style="display:block;">
                <img style="display: block; margin-left: auto; margin-right: auto;" src="img/r4.jpg" height="auto" width="100%">
                <div class="restaurant_con">
                	<div class="heading_txt">You saved <b>401 AED</b></div>
                    <h6>In restaurant Eauzone</h6>
                    <span style="font-size:11px;">21.07.2016</span>
                </div>
            </a>
        </div>
       
        
    </ion-content>
</ion-view>