<ion-view title="Menu" id="" hide-nav-bar="true">

<ion-header-bar align-title="center" id="div1" class="bar-light map_header">
  <div class="buttons">
    <button ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item" style=""><i class="icon ion-android-arrow-back"></i></button>
  </div>
  <h1 class="title">Menu List</h1>
  
</ion-header-bar>


    <ion-content class="has-header" padding="false" style="background: url(img/login.jpg) no-repeat center;background-size:cover; top:0;">
		
        
        <div class="listmenure">
        	<a ui-sref="menu.menuItems2" ng-repeat="menu in resmenu"> <span class="menu_ic"><i class="icon ion-ios-wineglass-outline"></i></span>{{menu.DishCategory.name}}</a>
            <!--a ui-sref="menu.menuItems2"> <span class="menu_ic"><i class="icon ion-ios-flower-outline"></i></span> Salad</a>
            <a ui-sref="menu.menuItems2"> <span class="menu_ic"><i class="icon ion-ios-sunny-outline"></i></span> Main courses</a>
            <a ui-sref="menu.menuItems2"> <span class="menu_ic"><i class="icon ion-ios-wineglass-outline"></i></span> Side dishes</a>
            <a ui-sref="menu.menuItems2"> <span class="menu_ic"><i class="icon ion-ios-nutrition-outline"></i></span> Desserts</a>
            <a ui-sref="menu.menuItems2"> <span class="menu_ic"><i class="icon ion-ios-rose-outline"></i></span> Cakes</a-->
        </div>
        
        
        
        


    </ion-content>
</ion-view>