<ion-view title="Tandoori (Clay Oven)" id="" hide-nav-bar="true">
<ion-header-bar align-title="center" id="div1" class="bar-light map_header">
  <div class="buttons">
    <button ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item" style=""><i class="icon ion-android-arrow-back"></i></button>
  </div>
  <h1 class="title">Tandoori (Clay Oven)</h1>
  <div class="buttons">
  	<button class="button button-clear button-positive white_txt ion-bag" style="color:#fff;" ui-sref="menu.cart"><b class="cart_itm">2 items</b></button>
  </div>
</ion-header-bar>

    <ion-content style="background:#fff; top:0;" class="has-header has-footer" padding="false">

    <div class="list" style="margin-bottom:0;">
        
    <div class="item padding_0">
      <div class="img_boxed">
      	<img src="img/n1.jpg">
        <div class="bootom_txed">
        <button class="button button-small icon ion-ios-heart-outline heart"></button>
        <div class="row">
        	<div class="col">
        	<h2>Dish Name</h2>
            </div>
            <div class="col">
                <h2 style="margin:0; float:right; font-weight:700; color:#fff">$12.00</h2>
            </div>
            </div>
        </div>
        </div>
      </div>
    </div>

        <div class="button-bar">
          <a class="button icon-left ion-ios-star-outline button-stable buttonfav">ADD TO FAVORITE</a>
          <a class="button icon-left ion-bag button-assertive buttonfav">ADD TO CART</a>
        </div>
        
        
        
    <div class="padding">
    
    	<div class="commentssec">
        	<h4>Comments (324)</h4>
            
            <div class="list">

    <a class="item comment_list item-avatar" href="#">
      <img src="img/user1.jpg">
      <div class="com_list">
      	<span class="post_time"><i class="ion-ios-timer-outline"></i>3h</span>
          <h2>Venkman</h2>
          <p>Easily create Windows 8 Metro UI-style websites with this templating framework.</p>
      </div>
    </a>

    <a class="item comment_list item-avatar" href="#">
      <img src="img/user1.jpg">
      <div class="com_list">
      	<span class="post_time"><i class="ion-ios-timer-outline"></i>3h</span>
          <h2>Venkman</h2>
          <p>Easily create Windows 8 Metro UI-style websites with this templating framework.</p>
      </div>
    </a>
    <a class="item comment_list item-avatar" href="#">
      <img src="img/user1.jpg">
      <div class="com_list">
      	<span class="post_time"><i class="ion-ios-timer-outline"></i>3h</span>
          <h2>Venkman</h2>
          <p>Easily create Windows 8 Metro UI-style websites with this templating framework.</p>
      </div>
    </a>
    <a class="item comment_list item-avatar" href="#">
      <img src="img/user1.jpg">
      <div class="com_list">
      	<span class="post_time"><i class="ion-ios-timer-outline"></i>3h</span>
          <h2>Venkman</h2>
          <p>Easily create Windows 8 Metro UI-style websites with this templating framework.</p>
      </div>
    </a>

</div>
        </div>
    
    </div>
      
      
    </ion-content>
    
    <div class="bar bar-footer comm_input" style="background:#f2f2f2; border-top:1px solid #ddd;">
  <button class="button button-clear icon ion-ios-camera" style="padding: 0px 6px 0px 0px; border-radius: 0px;"></button>
  <label class="item-input-wrapper">
      <input type="text" placeholder="Your message...">
    </label>
  <button class="button button-assertive" style="border-radius:0px;"> SEND</button>
</div>
    
    
</ion-view>