<ion-view style="" id="page3" title="My Profile">
    <ion-content class="has-header" padding="true">
    
    	<div class="profile">
        	<div class="user_propic">
            	<div class="user_img"><img src="img/user1.jpg" alt="" /></div>
            </div>
            <h5>Catherine Earl <a href="#"><i class="ion-compose"></i></a></h5>
            <p>Account valid until 12.12.2016</p>
            <p>Phone numbers +97152 52 52 552</p>
            <p>Jumeirah Beach Residence</p>
        </div>
    
    
        <div style="width: 283px; height: 83px;" class="spacer"></div>
        
        <div class="list pro_list">

  <a class="item" href="#">
    <i class="pro_icon fa fa-percent"></i>
    View all savings
    <i class="pro_iconr ion-ios-arrow-right"></i>
  </a>
<a class="item" href="#">
    <i class="pro_icon fa fa-user"></i>
    Edit Info
    <i class="pro_iconr ion-ios-arrow-right"></i>
  </a>
  <a class="item" href="#">
    <i class="pro_icon fa fa-money"></i>
    Payment
    <i class="pro_iconr ion-ios-arrow-right"></i>
  </a>

  <a class="item" href="#">
    <i class="pro_icon fa fa-info-circle"></i>
    Notification
    <i class="pro_iconr ion-ios-arrow-right"></i>
  </a>

  <a class="item" href="#">
    <i class="pro_icon fa fa fa-users"></i>
    Invite Friends
    <i class="pro_iconr ion-ios-arrow-right"></i>
  </a>

</div>
<div class="custom_padding" style="padding:0;">
        <a class="button button_purpel  button-block" style="border-radius:0px 0px 0px 0px;" id="createProfile-button2" ui-sref="menu.step1" href="#/side-menu21/step"><i style="margin-right:5px;" class="fa fa-sign-out"></i>SIGN OUT</a>
        </div>
        
        
    </ion-content>
</ion-view>