<ion-view id="page4" title="Select Option">




<ion-content padding="false" style="background:#fff;" class="manual-ios-statusbar-padding">
        
        
         <div style="width: 100%; height:30vh;" class="spacer"></div>
        
        <div class="padding">
        	<a class="button button_purpel  button-block" style="border-radius:0px 0px 0px 0px;" id="createProfile-button2" ui-sref="menu.reservation" href="#/side-menu21/step">DINING</a>

            <a class="button button_purpel  button-block" style="border-radius:0px 0px 0px 0px;" id="createProfile-button2" ui-sref="menu.checkout" href="#/side-menu21/step">PICK UP</a>

        </div>
        
        
    </ion-content>
    
    
</ion-view>
