<ion-view style="" id="page8" title="Reservation" hide-nav-bar="true">
<ion-header-bar align-title="center" id="div2" class="bar-light">
  <div class="buttons">
    <button ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item" style=""><i class="icon ion-android-arrow-back"></i></button>
  </div>
  <h1 class="title">Split Bill</h1>
  
</ion-header-bar>
    <ion-content class="has-header" padding="false" on-scroll="scrollEvent()" delegate-handle="scrollHandle">
    
    	
    
        
        
        
        <div class="row">
        
                    
            	<div class="col">
                	<div class="people">
                    	<h4>TOTLE BILL</h4>
                        <h2>$400.00</h2>
                    </div>
                </div>
                
                    
                
            </div>
            
            
        
        
        
        <div class="padding">
            <div class="split_list">
                User name <input type="text" name="">
            </div>
        </div>
        
        
        
        
        
     
        
        
        
        <ion-list id="restaurantDetails-list5">
            <ion-item style="" id="restaurantDetails-list-item7" class="item-icon-right list_viewmenu">
                <i style="color:#662483;" class="icon fa fa-link"></i>VIEW MENU</ion-item>
            <ion-item style="" id="restaurantDetails-list-item8" class="item-icon-right list_viewmenu">
                <i style="color:#662483;" class="icon fa fa-link"></i>RESTAURANT WEBSITE</ion-item>
        </ion-list>
        
        
        
        
        
        
        
    </ion-content>
<!-- <div class="bar bar-footer bar-light">
  <a class="button" style="border-radius:0px 0px 0px 0px; width:100%; background:#662483; color:#fff;" id="restaurantDetails-button8" ui-sref="menu.reservation">RESERVE</a>
</div> -->
</ion-view>